.head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 24px;
  padding: var(--distance-top) 64px 32px;
  margin: var(--negative-distance-top) -64px 0;
  background-color: black;
}

.mainArticle {
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
  cursor: pointer;
}

.mainArticleContent {
  margin: 0 32px;
  position: absolute;
  bottom: 0;
  transform: translateY(162px);
  cursor: pointer;
}

.mainArticle > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.articleList {
  border: 1px solid rgba(186, 186, 186, 0.3);
  height: max-content;
  min-height: 562px;
}

.articleList > div + div {
  border-top: 1px solid rgba(186, 186, 186, 0.3);
}

@media (max-width: 1100px) {
  .head {
    grid-template-columns: 1fr;
    grid-gap: 194px;
  }
}

@media (max-width: 800px) {
  .head {
    margin: 0 -16px;
    padding-top: 24px;
  }
}

@media (max-width: 600px) {
  .head {
    padding: 24px 16px;
    margin: 0 -16px;
  }

  .mainArticleContent {
    margin: 0;
  }
}
