.header {
  background-color: black;
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  padding: 28px 80px 0;
}

.headerContent > svg {
  cursor: pointer;
}

.headerContent .media {
  display: flex;
}

.headerContent .media > * {
  cursor: pointer;
}

.headerContent .media > * + * {
  margin-left: 24px;
}

.headerContent .actions {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.headerContent .actions .switches {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 28px;
}

.headerContent .actions button {
  padding: 24px 16px;
  background: #B987F2;
  color: white;
}

.categoriesWrapper {
  padding: 21px 80px 17px;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: black;
}

.categoriesWrapper input {
  height: 30px;
}

.categoriesOverflow {
  overflow: hidden;
}
.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
  border-bottom: 0.5px solid rgba(186, 186, 186, .4);
  position: relative;
}

.categories form {
  margin-bottom: -4px;
}

.activeCategoryPointer {
  height: 3px;
  position: absolute;
  bottom: 0;
  transition: .3s;
}

.categories span {
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  white-space: nowrap;
  padding-bottom: 4px;
}

.categories > *:not(.activeCategoryPointer) + *:not(.activeCategoryPointer) {
  margin-left: 32px;
}

.categories svg {
  margin-right: 8px;
}
