.articlesByCategoryWrapper > * + * {
  margin-top: 48px;
}

.dividedSection {
  display: flex;
  flex-direction: column;
}


.dividedSectionArticles {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 24px;
}

.dividedSectionHead {
  display: flex;
  align-items: center;
}

.showMore {
  padding: 24px 16px;
  border: 0.5px solid var(--main-text-color);
  height: 72px;
  width: 192px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  transition: .3s;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.showMore svg {
  margin-right: 10px;
  transition: .3s transform;
}

.showMore:hover svg {
  transform: translateX(8px);
}

.showMore svg > path {
  fill: var(--main-text-color)

}

.dividedSectionHead > span {
  color: var(--main-text-color)
}

.mobile {
  display: none;
}

@media (max-width: 850px) {
  :global(.state-manager.menu-left ) .dividedSectionArticles {
    grid-template-columns: 1fr;
    grid-gap: 56px;
  }
}

@media (max-width: 700px) {
  :global(.state-manager:not(.menu-left)) .dividedSectionArticles {
    grid-template-columns: 1fr;
    grid-gap: 56px;
  }
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    margin-top: 56px;
    width: 100%;
  }
}
