.articlesByCategoryWrapper > * + * {
  margin-top: 48px;
}

.dividedSection {
  display: flex;
  flex-direction: column;
}


.dividedSectionArticles {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 24px;
}

.dividedSectionHead {
  display: flex;
  align-items: center;
}

.dividedSectionHead button {
  padding: 24px 16px;
  border: 0.5px solid var(--main-text-color);
  height: 72px;
  width: 192px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  transition: .3s;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.dividedSectionHead button svg {
  margin-right: 10px;
}

.dividedSectionHead button svg path {
  fill: var(--main-text-color)

}

.dividedSectionHead > span {
  cursor: pointer;
  color: var(--main-text-color)
}
