.footerWrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 65px 10px;
  background-color: black;
  text-align: center;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media svg,
.footerTop > svg {
  cursor: pointer;
}

.email {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #B987F2;
  display: flex;
  align-items: center;
}

.email svg {
  margin-right: 34px;
  transition: .3s transform;
}

.email:hover svg {
  transform: translateX(24px);
}

.email svg path {
  fill: #B987F2;
}

.categories {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.categories > * + * {
  margin-left: 32px;
}

.categories span {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  white-space: nowrap;
}

.categoriesMobile {
  display: none;
}

.media {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.media > * + * {
  margin-left: 24px;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 50px;
}

@media (max-width: 875px) {
  :global(.state-manager.menu-left) .footerTop {
    flex-direction: column-reverse;
  }

  :global(.state-manager.menu-left) .email {
    margin-bottom: 72px;
  }
}

@media (max-width: 700px) {
  :global(.state-manager:not(.menu-left)) .footerTop {
    flex-direction: column-reverse;
  }

  :global(.state-manager:not(.menu-left)) .email {
    margin-bottom: 72px;
  }
}


@media (max-width: 500px) {
  .email {
    font-size: 28px;
  }

  .categoriesMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 52px 0 50px;
  }

  .categoriesMobile span {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
  }

  .categoriesMobile > span + span {
    margin-top: 62px;
  }

  .categories {
    display: none;
  }
}


@media (max-width: 380px) {
  .email {
    font-size: 24px;
  }
}
