.articleRow {
  display: flex;
  flex-direction: column;
  padding: 16px 36px;
  cursor: pointer;
}

.articleRow:hover .title {
  opacity: .7;
}

.articleRow:not(.big):hover .category {
  opacity: .7;
}

.articleRow.small {
  padding: 0;
}

.articleRow:not(.big, .subtitleShown) {
  height: 112px;
}

.articleRow:not(.big) .date {
  color: var(--gray-text-color);
}

.articleRow:not(.big) .title {
  color: var(--main-text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleRow:not(.big) .subtitle {
  color: var(--dark-gray-text-color);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleRow.big .subtitle,
.articleRow.big .title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleRow:not(.big, .subtitleShown) .title {
  color: white;
}

.articleRow:not(.big, .subtitleShown) .date {
  color: white;
}

.articleRow > span {
  margin-top: 8px;
}

.articleRowTop {
  display: flex;
  justify-content: space-between;
}

.category {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  transition: .3s opacity;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  white-space: pre-wrap;
  transition: .3s opacity;
}

.title span {
  color: rgba(255, 255, 255, 0.2);
}

.title span:first-child {
  position: absolute;
  top: 0;
  left: 0;

}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.articleRow.big {
  color: white
}

.articleRow.big > div,
.articleRow.big > span {
  margin-top: 16px;
}

.articleRow.big .category {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.articleRow.big .title {
  font-weight: 800;
  font-size: 36px;
  line-height: 50px;
}

.articleRow.big .subtitle {
  opacity: 0.8;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
