.category {
  max-width: 840px;
  margin: 0 auto 54px;
}

.categoryTopWrapper {
  margin-top: -18px;
  padding: 24px 0;
  position: sticky;
  top: var(--sticky-distance-no-categories);
  z-index: 220;
  transition: .3s background-color;
  background-color: var(--main-bg-color);
}

.categoryTopWrapper:global(.sticky) {
  background-color: black;
}

.categoryTop {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  max-width: 840px;
  margin: 0 auto;
}

.categoryTop > span {
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
}

.sortWrapper {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.sortWrapper .sortValue {
  color: var(--main-text-color);
}

.sortWrapper span:not(.sortValue) {
  color: var(--gray-text-color);
}

.categoryTopWrapper:global(.sticky) .sortWrapper .sortValue {
  color: #BABABAFF;
}

.categoryTopWrapper:global(.sticky) .sortWrapper span:not(.sortValue) {
  color: white
}

.tagsWrapper {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  grid-column: -1/1;
}

.tagsWrapper > * {
  margin-top: 8px;
  transition: .3s color, .3s background-color;
}

.tagsWrapper > * + * {
  margin-left: 8px;
}

.tagsWrapper span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #B987F2;
  padding: 4px 16px;
  background: rgba(186, 186, 186, 0.1);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.tagsWrapper .activeTag {
  background-color: #B987F2;
  color: white;
}

.categoryPosts {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.categoryPosts > * + * {
  margin-top: 28px;
}

@media (max-width: 1100px) {
  :global(.state-manager.menu-left) .category,
  :global(.state-manager.menu-left) .categoryTop {
    max-width: unset;
    padding: 0 32px;
  }
}

@media (max-width: 1000px) {
  :global(.state-manager:not(.menu-left)) .category,
  :global(.state-manager:not(.menu-left)) .categoryTop {
    max-width: unset;
    padding: 0 80px;
  }
}

@media (max-width: 800px) {
  .categoryTopWrapper {
    top: var(--mobile-sidebar-top)
  }

  .categoryTop {
    padding: 0 16px !important;
  }

  .category {
    padding: 48px 16px 0 !important;
  }
}

@media (max-width: 600px) {
  .categoryTop {
    grid-template-columns: 1fr;
  }

  .categoryTop .sortWrapper {
    grid-row: 1;
  }

  .categoryTop > span {
    margin: 16px 0 12px;
  }
}
