@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB/SpartanMB-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB/SpartanMB-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB/SpartanMB-ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB/SpartanMB-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB/SpartanMB-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB/SpartanMB-Thin.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB/SpartanMB-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

.state-manager:not(.light-theme) {
  --main-bg-color: black;
  --main-text-color: white;
  --gray-text-color: white;
  --dark-gray-text-color: white
}

.state-manager.light-theme {
  --main-bg-color: white;
  --main-text-color: black;
  --gray-text-color: rgba(186, 186, 186, 1);;
  --dark-gray-text-color: rgba(93, 94, 94, 1);;
}

.state-manager:not(.menu-left) {
  --distance-top: 40px;
  --negative-distance-top: -40px;
  --sticky-distance: 72px;
  --sticky-distance-no-categories: 0px;
  --search-box-top: 173px;
  --search-box-right: 81px;
  --search-box-left: unset;
  --search-box-position: absolute;
  --article-distance-top: -40px;
}

.state-manager:not(.menu-left).running-text-shown {
  --sticky-distance: 117px;
  --sticky-distance-no-categories: 45px;
  --search-box-top: 218px;
}

.state-manager.menu-left {
  --distance-top: 62px;
  --negative-distance-top: -62px;
  --sticky-distance: 0;
  --sticky-distance-no-categories: 0;
  --search-box-top: 101px;
  --search-box-right: unset;
  --search-box-left: 168px;
  --search-box-position: fixed;
  --article-distance-top: 0
}

.state-manager.menu-left.running-text-shown {
  --sticky-distance: 45px;
  --sticky-distance-no-categories: 45px;
  --article-distance-top: -18px;
}

.state-manager {
  --mobile-search-box-top: 90px;
  --mobile-sidebar-top: 90px;
}

.state-manager.running-text-shown {
  --mobile-search-box-top: 135px;
  --mobile-sidebar-top: 135px;
}

@media (max-width: 800px) {
  .state-manager {
    --distance-top: 90px !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

span::selection,
button::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
li::selection {
  background-color: rgba(185, 135, 242, 0.23);
}

span, button, h1, h2, h3, h4, h5, li, p, input {
  font-family: 'Spartan MB';
  transition: .3s color;
}

.menu-left .page-content {
  padding-left: 168px;
}

.menu-left.running-text-shown .page-content {
  padding-top: var(--distance-top);
}

.menu-top.running-text-shown {
  padding-top: 45px;
}

.menu-top .page-content {
  padding-top: 40px;
}

.running-text-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 45px;
  background: #B987F2;
  color: white;
  z-index: 201;
  font-family: "Spartan MB";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.menu-left .running-text-wrapper {
  left: 168px;
}

.running-text-shown .categories-wrapper {
  top: 45px;
}

.theme-bg {
  transition: .3s background-color;
}

.light-theme .theme-bg {
  background-color: white
}

.dark-theme .theme-bg {
  background-color: black;
}

.section-title {
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  color: #0B0017;
}

.be-updated {
  width: 100%;
  max-width: 606px;
  position: fixed;
  z-index: 111;
  bottom: 0;
  right: 0;
}

.be-updated > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .state-manager .page-content {
    padding-left: 0;
  }

  .state-manager .running-text-wrapper {
    left: 0;
  }

  .state-manager.running-text-shown {
    padding-top: 45px;
  }

  .page-content {
    padding-top: var(--distance-top);
  }
}
